
.col-md-8.col-md-offset-2
  %h1 Listing sessions

  %table.table-hover
    %tr
      %th Caller 
      %th Caller Number
      %th Reciever
      %th Reciever Number
      %th Order ID
      %th Type
      %th Pin
      %th Duration
      %th
      %th

    - @sessions.each do |session|
      %tr
        %td= session.caller.name
        %td= session.caller_number
        %td= session.reciever.name
        %td= session.reciever_number
        %td= session.order_id
        %td= session.type
        %td= session.pin
        %td= session.duration
        %td= link_to 'Show', session, class: "btn btn-primary"
        -uri =  URI.parse "/talk_bot/call?"
        -#-uri.query = [uri.query, chat_room.customer_name].compact.join('=') 
        -uri.query = [uri.query, "ph_no=919003086996", "duration=#{session.duration}"].compact.join 

        -#-uri.query = [uri.query, "ph_no=919003086996", "performer_name=#{chat_room.performer_name}", "customer_name=#{chat_room.customer_name}", "duration=#{chat_room.duration}", "call_type=#{chat_room.call_type}"].compact.join('&') 
        %td= link_to 'call', uri.to_s, :method => :post, class: "btn btn-success"

  %br

  = link_to 'New Session', new_session_path
