%h1 Listing chat_rooms

%table
  %tr
    %th Order
    %th Performer name
    %th Customer name
    %th Duration
    %th Type
    %th Mobile Number
    %th
    %th
    %th
    %th call

  - @chat_rooms.each do |chat_room|
    %tr
      %td= chat_room.order
      %td= chat_room.performer_name
      %td= chat_room.customer_name
      %td= chat_room.duration
      %td= chat_room.call_type
      %td= chat_room.mobile_number
      %td= link_to 'Show', chat_room
      %td= link_to 'Edit', edit_chat_room_path(chat_room)
      %td= link_to 'Destroy', chat_room, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td= link_to 'call', talk_bot.call_path(:client_name => abhiram), :method => :post

%br

= link_to 'New Chat room', new_chat_room_path
