%h1 Listing chat_rooms

%table
  %tr
    %th Order
    %th Performer name
    %th Customer name
    %th Duration
    %th Type
    %th Mobile Number
    %th
    %th
    %th
    %th call

  - @chat_rooms.each do |chat_room|
    %tr
      %td= chat_room.order
      %td= chat_room.performer_name
      %td= chat_room.customer_name
      %td= chat_room.duration
      %td= chat_room.call_type
      %td= chat_room.mobile_number
      %td= link_to 'Show', chat_room
      %td= link_to 'Edit', edit_chat_room_path(chat_room)
      %td= link_to 'Destroy', chat_room, :method => :delete, :data => { :confirm => 'Are you sure?' }
      -uri =  URI.parse "/talk_bot/call?"
      -uri.query = [uri.query, chat_room.customer_name].compact.join('=') 
      -uri.query = [uri.query, "ph_no=919003086996", "performer_name=#{chat_room.performer_name}", "customer_name=#{chat_room.customer_name}", "duration=#{chat_room.duration}", "call_type=#{chat_room.call_type}"].compact.join('&') 
      %td= link_to 'call', uri.to_s, :method => :post

%br

= link_to 'New Chat room', new_chat_room_path
