<!DOCTYPE html>
<html>
	<head>
		<title>TalkBot</title>
		<div id="nav_bar">
		</div><br/>
    <%= stylesheet_link_tag    "talk_bot/application", media: "all" %>
		<%= javascript_include_tag "talk_bot/application" %>
		<%= javascript_include_tag "//static.twilio.com/libs/twiliojs/1.1/twilio.min.js", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= yield %>

	</body>
</html>
